<div class="wrap">
    <div class="header">
        <div class="logo">
            <h1><a href="#">Ohh</a></h1>
        </div>
    </div>
    <div class="content">
        <img src="../../assets/error-img.png" title="error" />
        <p>
            <span><label>O</label>hh.....</span>La página que estas buscando no se encuentra disponible.
        </p>
        <a href="catalogos">Regresar al inicio</a>
        <div class="copy-right">
            <p>
                &copy; 2013 Yuri Cano.
            </p>
        </div>
    </div>
</div>
